.experiencia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  max-width: 1200px;
}
.subtitulo {
  font-size: 144px;
  color: #8f8f8f;
  font-family: "fjord";
}

.info {
  font-size: 2rem;
}
.info strong {
  color: #062d67;
}
.projeto {
  margin-top: 40px;
}
.projeto-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  gap: 10px;
  padding: 20px;
  margin-top: 20px;
  background-color: #f5f5f5;
}
.projeto-container p {
  color: #8f8f8f;
}
.projeto-container::before {
  content: "";
  width: 3px;
  height: 30px;
  display: block;
  position: absolute;
  background: linear-gradient(to bottom, #062d67, #578ee0);
  top: 20px;
  left: -1px;
}
.ano {
  position: absolute;
  left: -42px;
  top: 20px;
}
h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}
h4 {
  font-size: 1.75rem;
  text-align: center;
}
.linguagem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.linguagem li {
  padding: 9px;
  background-color: #fff;
  font-size: 0.8rem;
}
@media (max-width: 800px) {
  .subtitulo {
    font-size: 100px;
  }
}
@media (max-width: 700px) {
  .experiencia {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .info {
    font-size: 1.5rem;
  }
  .projeto-container {
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-top: 10px;
    gap: 5px;
  }
  .ano {
    left: 10px;
    top: 20px;
  }
}
@media (max-width: 500px) {
  .ano {
    display: none;
  }
  .projeto-container {
    grid-template-columns: 1fr;
  }
}
