.formacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  background-color: #141414;
  color: #fff;
}
.subtitulo {
  position: relative;
}
.formacao .subtitulo::after {
  content: "";
  width: 78px;
  height: 78px;
  position: absolute;
  background: url(/img/bolinha.svg) no-repeat;
  bottom: -80px;
  left: -10px;
}
.info-formacao {
  font-size: 24px;
}
.info-formacao strong {
  color: #689ae5;
}
.formacao-item {
  display: grid;
  align-items: center;
}
.curso {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
}
.curso-item {
  display: grid;
  background-color: #000;
  padding: 50px;
  border-radius: 5px;
  position: relative;
}
.curso-item::before {
  content: "";
  width: 3px;
  height: 30px;
  display: block;
  position: absolute;
  background: linear-gradient(to bottom, #062d67, #578ee0);
  top: 50px;
  left: -1px;
}
.curso-item p {
  color: #a3a3a3;
}
.curso-tipo {
  font-size: 14px;
}
.curso-nome {
  align-self: end;
}
.idioma {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media (max-width: 1100px) {
  .formacao {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .idioma {
    justify-content: center;
  }
  .formacao .subtitulo::after {
    display: none;
  }
}
@media (max-width: 660px) {
  .curso {
    grid-template-columns: 1fr;
  }
}
