body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4 {
  margin: 0px;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  margin: 0px;
}
p {
  margin: 0px;
}
