.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0px;
  margin: 0 60px;
  align-items: center;
  max-width: 1200px;
}
.atalho {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 18px;
  flex-wrap: wrap;
}
.atalho li a {
  padding: 15px;
  color: #141414;
}
@media (max-width: 1000px) {
  .header {
    justify-content: center;
    gap: 20px;
  }
  .atalho li {
    padding: 10px;
  }
}
@media (max-width: 430px) {
  .header {
    gap: 10px;
  }
  .header {
    margin: 30px;
    gap: 20px;
  }
  .atalho {
    gap: 15px;
    font-size: 14px;
  }
}
